openapi: 3.1.0
info:
  version: 0.1.0
  title: Inquira API
  description: Documentation for the Inquira API
servers:
  - url: https://eu.inquira.app/api/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication
    DeploymentKeyAuth:
      type: apiKey
      in: body
      name: deployment_key
      description: Deployment key for authentication
  schemas:
    transcript_schema:
      type:
        - array
        - "null"
      items:
        type: object
        properties:
          role:
            type: string
            enum:
              - user
              - assistant
              - tool
            description: Role of the speaker
            example: assistant
          content:
            type: string
            description: Content of the message
          tools:
            type:
              - array
              - "null"
            items: {}
            description: Response from the function called if any
        required:
          - role
          - content
          - tools
      description: Call transcript
      example:
        - role: assistant
          content: Hello, how can I help you today?
          tools: null
        - role: user
          content: I'd like to schedule an appointment.
          tools: null
  parameters: {}
paths:
  /deployments:
    get:
      summary: List Deployments
      description: Lists all deployments including active and inactive ones.
      tags:
        - Deployments
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            enum:
              - "true"
              - "false"
            description: Filter deployments by active status. If not provided, returns all
              deployments.
          required: false
          name: active
          in: path
        - schema:
            type: string
            enum:
              - inbound
              - outbound
            description: Filter deployments by call type. If not provided, returns all
              types.
          required: false
          name: type
          in: path
      responses:
        "200":
          description: Object with deployment data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the deployment
                        start_at:
                          type: string
                          format: date-time
                          description: ISO timestamp when the deployment starts
                        end_by:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: ISO timestamp when the deployment should end
                        stopped_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: ISO timestamp when the deployment was stopped, null if still active
                        call_type:
                          type: string
                          enum: &a1
                            - inbound
                            - outbound
                          description: Type of deployment - either inbound or outbound calls
                        workflow_release_id:
                          type: string
                          format: uuid
                          description: ID of the workflow release associated with the deployment
                      required:
                        - id
                        - start_at
                        - end_by
                        - stopped_at
                        - call_type
                        - workflow_release_id
                    description: Array of deployment objects
                required:
                  - deployments
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /deployments/{deployment_id}:
    get:
      tags:
        - Deployments
      summary: Get Deployment Details
      description: Get detailed information about a specific deployment.
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: ID of the deployment
          required: true
          name: deployment_id
          in: path
      responses:
        "200":
          description: Detailed deployment information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Unique identifier for the deployment
                  start_at:
                    type: string
                    format: date-time
                    description: ISO timestamp when the deployment starts
                  end_by:
                    type:
                      - string
                      - "null"
                    format: date-time
                    description: ISO timestamp when the deployment should end
                  stopped_at:
                    type:
                      - string
                      - "null"
                    format: date-time
                    description: ISO timestamp when the deployment was stopped, null if still active
                  call_type:
                    type: string
                    enum: *a1
                    description: Type of deployment - either inbound or outbound calls
                  workflow_release_id:
                    type: string
                    format: uuid
                    description: ID of the workflow release associated with the deployment
                  call_config:
                    type: object
                    additionalProperties: {}
                    description: Configuration for the call, structure varies based on call_type
                    example:
                      max_attempts: 3
                      call_window:
                        start_time: 09:00
                        end_time: 17:00
                  timezone:
                    type: string
                    description: Timezone for the deployment
                    example: America/New_York
                  workflow_releases:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                    required:
                      - id
                      - name
                    description: Details of the associated workflow release
                required:
                  - id
                  - start_at
                  - end_by
                  - stopped_at
                  - call_type
                  - workflow_release_id
                  - call_config
                  - timezone
                  - workflow_releases
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /deployments/{deployment_id}/calls:
    get:
      tags:
        - Deployments
      summary: List Deployment Calls
      description: Lists all calls for a specific deployment with optional filters.
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: ID of the deployment
          required: true
          name: deployment_id
          in: path
        - schema:
            type: string
            format: date-time
            description: Filter calls that started after this timestamp
          required: false
          name: started_after
          in: query
        - schema:
            type: string
            format: date-time
            description: Filter calls that ended before this timestamp
          required: false
          name: ended_before
          in: query
        - schema:
            type: string
            format: date-time
            description: Filter calls scheduled after this timestamp
          required: false
          name: scheduled_after
          in: query
        - schema:
            type: string
            format: date-time
            description: Filter calls scheduled before this timestamp
          required: false
          name: scheduled_before
          in: query
        - schema:
            type: string
            enum: &a2
              - user_rejected
              - user_unavailable
              - normal
              - unknown
            description: Filter by call end reason
          required: false
          description: Defines the reason why a call ended.
          name: end_reason
          in: query
        - schema:
            type: string
            enum: &a3
              - success
              - in_progress
              - failed
              - cancelled
            description: Filter by scheduling status
          required: false
          description: Defines the scheduling status of a call.
          name: schedule_status
          in: query
        - schema:
            type: string
            default: "1"
            description: Page number
          required: false
          name: page
          in: query
        - schema:
            type: string
            default: "10"
            description: Items per page
          required: false
          name: per_page
          in: query
      responses:
        "200":
          description: List of calls for the deployment
          content:
            application/json:
              schema:
                type: object
                properties:
                  calls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the call
                        scheduled_for:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: ISO timestamp for when the call was scheduled
                        started_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: ISO timestamp when the call started
                        ended_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                          description: ISO timestamp when the call ended
                        to_phone_number:
                          type: string
                          description: Phone number in E.164 format that received the call
                        end_reason:
                          type:
                            - string
                            - "null"
                          enum: *a2
                          description: Reason why the call ended. Always normal for inbound calls
                        scheduling_status:
                          type:
                            - string
                            - "null"
                          enum: *a3
                          description: Status of the call scheduling. Always null for inbound calls.
                        transcript:
                          $ref: "#/components/schemas/transcript_schema"
                        ai_collectors:
                          type:
                            - array
                            - "null"
                          items: {}
                          description: Data collected during the call
                        ai_analysers:
                          type:
                            - array
                            - "null"
                          items: {}
                          description: AI analysis results
                      required:
                        - id
                        - scheduled_for
                        - started_at
                        - ended_at
                        - to_phone_number
                        - end_reason
                        - scheduling_status
                        - transcript
                        - ai_collectors
                        - ai_analysers
                    description: Array of call records
                  total_count:
                    type: number
                    description: Total number of calls
                  page:
                    type: number
                    description: Current page number
                  per_page:
                    type: number
                    description: Number of items per page
                required:
                  - calls
                  - total_count
                  - page
                  - per_page
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /deployments/{deployment_id}/users:
    post:
      tags:
        - Deployments
      summary: Add Users To Deployment
      description: Adds user details to a deployment. If the deployment is inbound, it
        will only add the data to the workflow. If the deployment is outbound,
        it will also schedule the calls based on the call configuration.
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: object
                    additionalProperties: {}
                  description: Array of user objects with dynamic properties based on the Workflow
                    InputSchema
                schedule_time:
                  type: string
                  format: date-time
                  description: ISO timestamp when the calls should be scheduled
              required:
                - users
      responses:
        "200":
          description: Object with deployment data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation was successful
                  count:
                    type: number
                    description: Number of users added to the deployment
                required:
                  - success
                  - count
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /workflows:
    get:
      tags:
        - Workflows
      summary: List Workflows
      description: Lists all workflows including active and inactive ones.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Object with workflow data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflows:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the workflow release
                        name:
                          type: string
                          description: Name of the workflow release
                        created_at:
                          type: string
                          format: date-time
                          description: When the release was created
                        type:
                          type: string
                          enum:
                            - released
                            - development
                          description: Type of the workflow - either released or development
                      required:
                        - id
                        - name
                        - created_at
                        - type
                    description: Array of workflow releases
                required:
                  - workflows
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /workflows/{workflow_id}:
    get:
      tags:
        - Workflows
      summary: Get Workflow Details
      description: Get workflow details by its ID.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Object with workflow data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflow:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Unique identifier for the workflow
                      name:
                        type: string
                        description: Name of the workflow
                      created_at:
                        type: string
                        format: date-time
                        description: When the workflow was created
                      status:
                        type: string
                        enum:
                          - released
                          - development
                        description: Status of the workflow
                      language:
                        type: string
                        description: Language of the workflow
                      input_schema:
                        type: object
                        properties:
                          properties:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - boolean
                                  description: |
                                    Data type of the field. Possible values:
                                    - string: Text input
                                    - number: Numeric input
                                    - boolean: True/false input
                                format:
                                  type: string
                                  enum:
                                    - tel
                                    - date-time
                                    - date
                                    - time
                                    - email
                                  description: >-
                                    Special format of the field. Possible
                                    values:

                                    - tel: Phone number in E.164 format e.g
                                    +31123123123 

                                    - date-time: Date and time in ISO 8601
                                    format

                                    - date: Date in ISO 8601 format

                                    - time: Time in 24-hour format e.g 23:59 

                                    - email: Email address e.g john@doe.com
                                title:
                                  type: string
                                  description: Display title for the field
                                description:
                                  type: string
                                  description: Detailed description of the field
                              required:
                                - type
                                - title
                                - description
                              description: Definition of a form field
                            description: Field definitions
                        required:
                          - properties
                        description: Schema defining required inputs for the workflow
                        example:
                          properties:
                            user_first_name:
                              type: string
                              title: First Name
                              description: The patient's first name.
                      phone_number_key:
                        type: string
                        description: Key for the phone number input field
                    required:
                      - id
                      - name
                      - created_at
                      - status
                      - language
                      - input_schema
                      - phone_number_key
                    description: Detailed workflow information
                required:
                  - workflow
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /chat:
    post:
      tags:
        - Chat
      summary: Create Chat Room
      description: Creates a LiveKit chat room and returns connection details
      security:
        - DeploymentKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deployment_key:
                  type: string
                  description: Deployment key for authentication
                user_id:
                  type: string
                  description: Unique identifier for the user
                user_name:
                  type: string
                  description: Display name for the user
                user_email:
                  type: string
                  format: email
                  description: Email address of the user
                user_phone:
                  type: string
                  description: Phone number of the user (optional)
              required:
                - deployment_key
                - user_id
                - user_name
                - user_email
      responses:
        "200":
          description: LiveKit connection details
          content:
            application/json:
              schema:
                type: object
                properties:
                  room_name:
                    type: string
                    description: Name of the created chat room
                  token:
                    type: string
                    description: LiveKit token for connecting to the room
                  url:
                    type: string
                    description: WebSocket URL for connecting to LiveKit
                required:
                  - room_name
                  - token
                  - url
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
webhooks: {}
