openapi: 3.0.0
info:
  version: 0.1.0
  title: Inquira API
  description: Documentation for the Inquira API
servers:
  - url: https://eu.inquira.app/api/v1
    description: EU Region
  - url: https://us.inquira.app/api/v1
    description: US Region
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication
  schemas:
    transcript_schema:
      type: array
      nullable: true
      items:
        type: object
        properties:
          role:
            type: string
            enum:
              - user
              - assistant
              - tool
            description: Role of the speaker
            example: assistant
          content:
            type: string
            description: Content of the message
          tools:
            type: array
            nullable: true
            items:
              nullable: true
            description: Response from the function called if any
        required:
          - role
          - content
          - tools
      description: Call transcript
      example:
        - role: assistant
          content: Hello, how can I help you today?
          tools: null
        - role: user
          content: I'd like to schedule an appointment.
          tools: null
  parameters: {}
paths:
  /deployments:
    get:
      summary: List Deployments
      description: Lists all deployments including active and inactive ones.
      tags:
        - Deployments
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            enum:
              - "true"
              - "false"
            description: Filter deployments by active status. If not provided, returns all
              deployments.
          required: false
          name: active
          in: path
        - schema:
            type: string
            enum:
              - inbound
              - outbound
            description: Filter deployments by call type. If not provided, returns all
              types.
          required: false
          name: type
          in: path
      responses:
        "200":
          description: Object with deployment data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the deployment
                        timezone:
                          type: string
                          description: Timezone for the deployment
                        start_at:
                          type: string
                          format: date-time
                          description: ISO timestamp when the deployment starts
                        end_by:
                          type: string
                          nullable: true
                          format: date-time
                          description: ISO timestamp when the deployment should end
                        stopped_at:
                          type: string
                          nullable: true
                          format: date-time
                          description: ISO timestamp when the deployment was stopped, null if still active
                        call_type:
                          type: string
                          nullable: true
                          enum:
                            - outbound_call
                            - inbound_call
                            - chat
                            - e2e_test_run
                          description: Type of deployment - either inbound or outbound calls
                        workflow_release_id:
                          type: string
                          format: uuid
                          description: ID of the workflow release associated with the deployment
                        deploymentConfig:
                          anyOf:
                            - type: object
                              properties:
                                phoneNumber:
                                  nullable: true
                                  description: Phone number for the deployment
                                inputData:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties:
                                      nullable: true
                                  default: &a1 []
                                  description: Input data for the deployment matching the input schema of the
                                    workflow release
                                callConfig:
                                  type: object
                                  properties:
                                    callLimits:
                                      type: object
                                      properties:
                                        maxRetryAttempts:
                                          type: number
                                          default: 3
                                          description: Maximum number of retry attempts per call (1-10)
                                        maxCallDurationMinutes:
                                          type: number
                                          default: 10
                                          description: Maximum duration of a call in minutes (1-60)
                                        waitBeforeCallingNextMinutes:
                                          type: number
                                          default: 0.5
                                          description: Minutes to wait before calling the next user
                                      default: &a2
                                        maxRetryAttempts: 3
                                        maxCallDurationMinutes: 10
                                        waitBeforeCallingNextMinutes: 0.5
                                    callWindow:
                                      type: object
                                      properties:
                                        start:
                                          type: string
                                          default: 09:00
                                        end:
                                          type: string
                                          default: 17:00
                                      default: &a3
                                        start: 09:00
                                        end: 17:00
                                    noResponseAction:
                                      type: object
                                      properties:
                                        tryAgain:
                                          type: boolean
                                          default: true
                                          description: Whether to try again if the call is not answered
                                        retryIntervalMinutes:
                                          type: number
                                          default: 10
                                          description: Minutes to wait before retrying a no-response call
                                      default: &a4
                                        tryAgain: true
                                        retryIntervalMinutes: 10
                                    busyLineRetryStrategy:
                                      type: object
                                      properties:
                                        tryAgain:
                                          type: boolean
                                          default: true
                                          description: Whether to try again if the call is busy
                                        retryAfterMinutes:
                                          type: number
                                          default: 5
                                          description: Minutes to wait before retrying a busy line
                                      default: &a5
                                        tryAgain: true
                                        retryAfterMinutes: 5
                                    dataLoggingPreferences:
                                      type: object
                                      properties:
                                        recordCall:
                                          type: boolean
                                          default: false
                                          description: Whether to record the call
                                      default: &a6
                                        recordCall: false
                                    voiceMail:
                                      type: object
                                      properties:
                                        rejectVoiceMail:
                                          type: boolean
                                          default: true
                                          description: Whether to reject voicemail
                                        message:
                                          type: string
                                          nullable: true
                                          default: null
                                          description: Message to play when voicemail is detected
                                      default: &a7
                                        rejectVoiceMail: false
                                        message: null
                                      description: Voicemail handling configuration
                                    scheduling:
                                      type: object
                                      properties:
                                        strategy:
                                          type: string
                                          enum: &a8
                                            - first_positive_wins
                                            - broadcast
                                          default: broadcast
                                        groupKeyField:
                                          type: string
                                          description: Field name in input_data to use as group key
                                        params:
                                          type: object
                                          additionalProperties:
                                            nullable: true
                                          default: &a9 {}
                                          description: Strategy-specific parameters
                                      required:
                                        - groupKeyField
                                      description: Group scheduling configuration
                                    developmentMode:
                                      type: boolean
                                      default: false
                                      description: When enabled, calls are restricted to allowed numbers only
                                    smsActions:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            description: Unique identifier for this SMS item
                                          trigger:
                                            type: string
                                            enum:
                                              - first_missed_call
                                              - finished_retry_attempts
                                          message:
                                            type: string
                                            minLength: 1
                                            maxLength: 160
                                          sendFromSamePhoneNumber:
                                            type: boolean
                                            default: false
                                        required:
                                          - trigger
                                          - message
                                      default: &a10 []
                                      description: SMS actions for the deployment
                                  default: &a11
                                    callLimits:
                                      maxRetryAttempts: 3
                                      maxCallDurationMinutes: 10
                                      waitBeforeCallingNextMinutes: 0.5
                                    callWindow:
                                      start: 09:00
                                      end: 17:00
                                    noResponseAction:
                                      tryAgain: true
                                      retryIntervalMinutes: 10
                                    busyLineRetryStrategy:
                                      tryAgain: true
                                      retryAfterMinutes: 5
                                    dataLoggingPreferences:
                                      recordCall: false
                                    voiceMail:
                                      rejectVoiceMail: false
                                      message: null
                                    developmentMode: false
                                    smsActions: []
                                  description: Call configuration for the deployment
                              default: &a12
                                phoneNumber: null
                                inputData: []
                                callConfig: {}
                            - type: object
                              properties:
                                phoneNumber:
                                  nullable: true
                                callConfig:
                                  type: object
                                  properties:
                                    callLimits:
                                      type: object
                                      properties:
                                        maxCallDurationMinutes:
                                          type: number
                                          default: 10
                                      default: &a13 {}
                                    dataLoggingPreferences:
                                      type: object
                                      properties:
                                        recordCall:
                                          type: boolean
                                          default: false
                                      default: &a14 {}
                                inputData:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties:
                                      nullable: true
                                  default: &a15 []
                              required:
                                - callConfig
                            - type: object
                              properties:
                                convConfig:
                                  type: object
                                  properties:
                                    platform:
                                      type: string
                                      enum:
                                        - widget
                                        - whatsapp
                                        - telegram
                                      default: widget
                                    platformConfig:
                                      type: object
                                      nullable: true
                                      properties:
                                        accessKey:
                                          type: string
                                        allowedOrigins:
                                          type: array
                                          items:
                                            type: string
                                          default: &a16 []
                                      required:
                                        - accessKey
                                    widgetConfig:
                                      type: object
                                      nullable: true
                                      properties:
                                        showFileUpload:
                                          type: boolean
                                          default: true
                                          description: Show file upload button
                                        showVoiceInput:
                                          type: boolean
                                          default: true
                                          description: Show voice input button
                                        brandColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#4F46E5"
                                          description: Primary brand color for header and button
                                        accentColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#10B981"
                                          description: Accent color for send button
                                        backgroundColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#FFFFFF"
                                          description: Background color of the chat panel
                                        headerTextColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#FFFFFF"
                                          description: Text color for the header
                                        headerText:
                                          type: string
                                          default: Chat with us
                                          description: Text displayed in the header
                                        headerSubtitle:
                                          type: string
                                          default: Available 24/7
                                          description: Text displayed in the header subtitle
                                        fontFamily:
                                          type: string
                                          default: "'Inter', sans-serif"
                                          description: Font family for the widget
                                        userMessageBgColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#4F46E5"
                                          description: Background color for user messages
                                        userMessageTextColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#FFFFFF"
                                          description: Text color for user messages
                                        botMessageBgColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#F3F4F6"
                                          description: Background color for bot messages
                                        botMessageTextColor:
                                          type: string
                                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                          default: "#111827"
                                          description: Text color for bot messages
                                        welcomeMessage:
                                          type: string
                                          default: Hello! How can I help you today?
                                          description: Welcome message shown when the chat is opened
                                        inputPlaceholder:
                                          type: string
                                          default: Type your message...
                                          description: Placeholder text for the input field
                                  default: &a17
                                    platform: widget
                                    platformConfig: null
                                    widgetConfig: null
                                  required:
                                    - platformConfig
                                    - widgetConfig
                            - nullable: true
                          description: Deployment configuration for the deployment
                        notificationConfig:
                          type: object
                          properties:
                            notifications:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                    description: Unique identifier for this notification item
                                  notificationType:
                                    type: string
                                    enum:
                                      - summary
                                  emails:
                                    type: array
                                    items:
                                      type: string
                                      format: email
                                    minItems: 1
                                  scheduleRRule:
                                    type: string
                                    description: RRULE string for notification schedule
                                  timezone:
                                    type: string
                                    default: UTC
                                    description: Timezone for the notification schedule
                                required:
                                  - notificationType
                                  - emails
                              default: &a18 []
                            skipEmptyNotifications:
                              type: boolean
                              default: false
                              description: Skip notifications when there are no conversations
                          default: &a19
                            notifications: []
                          description: Notification configuration for the deployment
                      required:
                        - id
                        - timezone
                        - start_at
                        - end_by
                        - stopped_at
                        - call_type
                        - workflow_release_id
                    description: Array of deployment objects
                required:
                  - deployments
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /deployments/{deployment_id}:
    get:
      tags:
        - Deployments
      summary: Get Deployment Details
      description: Get detailed information about a specific deployment.
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: ID of the deployment
          required: true
          name: deployment_id
          in: path
      responses:
        "200":
          description: Detailed deployment information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Unique identifier for the deployment
                  timezone:
                    type: string
                    description: Timezone for the deployment
                    example: America/New_York
                  start_at:
                    type: string
                    format: date-time
                    description: ISO timestamp when the deployment starts
                  end_by:
                    type: string
                    nullable: true
                    format: date-time
                    description: ISO timestamp when the deployment should end
                  stopped_at:
                    type: string
                    nullable: true
                    format: date-time
                    description: ISO timestamp when the deployment was stopped, null if still active
                  call_type:
                    type: string
                    nullable: true
                    enum:
                      - outbound_call
                      - inbound_call
                      - chat
                      - e2e_test_run
                    description: Type of deployment - either inbound or outbound calls
                  workflow_release_id:
                    type: string
                    format: uuid
                    description: ID of the workflow release associated with the deployment
                  deploymentConfig:
                    anyOf:
                      - type: object
                        properties:
                          phoneNumber:
                            nullable: true
                            description: Phone number for the deployment
                          inputData:
                            type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                            default: *a1
                            description: Input data for the deployment matching the input schema of the
                              workflow release
                          callConfig:
                            type: object
                            properties:
                              callLimits:
                                type: object
                                properties:
                                  maxRetryAttempts:
                                    type: number
                                    default: 3
                                    description: Maximum number of retry attempts per call (1-10)
                                  maxCallDurationMinutes:
                                    type: number
                                    default: 10
                                    description: Maximum duration of a call in minutes (1-60)
                                  waitBeforeCallingNextMinutes:
                                    type: number
                                    default: 0.5
                                    description: Minutes to wait before calling the next user
                                default: *a2
                              callWindow:
                                type: object
                                properties:
                                  start:
                                    type: string
                                    default: 09:00
                                  end:
                                    type: string
                                    default: 17:00
                                default: *a3
                              noResponseAction:
                                type: object
                                properties:
                                  tryAgain:
                                    type: boolean
                                    default: true
                                    description: Whether to try again if the call is not answered
                                  retryIntervalMinutes:
                                    type: number
                                    default: 10
                                    description: Minutes to wait before retrying a no-response call
                                default: *a4
                              busyLineRetryStrategy:
                                type: object
                                properties:
                                  tryAgain:
                                    type: boolean
                                    default: true
                                    description: Whether to try again if the call is busy
                                  retryAfterMinutes:
                                    type: number
                                    default: 5
                                    description: Minutes to wait before retrying a busy line
                                default: *a5
                              dataLoggingPreferences:
                                type: object
                                properties:
                                  recordCall:
                                    type: boolean
                                    default: false
                                    description: Whether to record the call
                                default: *a6
                              voiceMail:
                                type: object
                                properties:
                                  rejectVoiceMail:
                                    type: boolean
                                    default: true
                                    description: Whether to reject voicemail
                                  message:
                                    type: string
                                    nullable: true
                                    default: null
                                    description: Message to play when voicemail is detected
                                default: *a7
                                description: Voicemail handling configuration
                              scheduling:
                                type: object
                                properties:
                                  strategy:
                                    type: string
                                    enum: *a8
                                    default: broadcast
                                  groupKeyField:
                                    type: string
                                    description: Field name in input_data to use as group key
                                  params:
                                    type: object
                                    additionalProperties:
                                      nullable: true
                                    default: *a9
                                    description: Strategy-specific parameters
                                required:
                                  - groupKeyField
                                description: Group scheduling configuration
                              developmentMode:
                                type: boolean
                                default: false
                                description: When enabled, calls are restricted to allowed numbers only
                              smsActions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      description: Unique identifier for this SMS item
                                    trigger:
                                      type: string
                                      enum:
                                        - first_missed_call
                                        - finished_retry_attempts
                                    message:
                                      type: string
                                      minLength: 1
                                      maxLength: 160
                                    sendFromSamePhoneNumber:
                                      type: boolean
                                      default: false
                                  required:
                                    - trigger
                                    - message
                                default: *a10
                                description: SMS actions for the deployment
                            default: *a11
                            description: Call configuration for the deployment
                        default: *a12
                      - type: object
                        properties:
                          phoneNumber:
                            nullable: true
                          callConfig:
                            type: object
                            properties:
                              callLimits:
                                type: object
                                properties:
                                  maxCallDurationMinutes:
                                    type: number
                                    default: 10
                                default: *a13
                              dataLoggingPreferences:
                                type: object
                                properties:
                                  recordCall:
                                    type: boolean
                                    default: false
                                default: *a14
                          inputData:
                            type: array
                            items:
                              type: object
                              additionalProperties:
                                nullable: true
                            default: *a15
                        required:
                          - callConfig
                      - type: object
                        properties:
                          convConfig:
                            type: object
                            properties:
                              platform:
                                type: string
                                enum:
                                  - widget
                                  - whatsapp
                                  - telegram
                                default: widget
                              platformConfig:
                                type: object
                                nullable: true
                                properties:
                                  accessKey:
                                    type: string
                                  allowedOrigins:
                                    type: array
                                    items:
                                      type: string
                                    default: *a16
                                required:
                                  - accessKey
                              widgetConfig:
                                type: object
                                nullable: true
                                properties:
                                  showFileUpload:
                                    type: boolean
                                    default: true
                                    description: Show file upload button
                                  showVoiceInput:
                                    type: boolean
                                    default: true
                                    description: Show voice input button
                                  brandColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#4F46E5"
                                    description: Primary brand color for header and button
                                  accentColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#10B981"
                                    description: Accent color for send button
                                  backgroundColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#FFFFFF"
                                    description: Background color of the chat panel
                                  headerTextColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#FFFFFF"
                                    description: Text color for the header
                                  headerText:
                                    type: string
                                    default: Chat with us
                                    description: Text displayed in the header
                                  headerSubtitle:
                                    type: string
                                    default: Available 24/7
                                    description: Text displayed in the header subtitle
                                  fontFamily:
                                    type: string
                                    default: "'Inter', sans-serif"
                                    description: Font family for the widget
                                  userMessageBgColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#4F46E5"
                                    description: Background color for user messages
                                  userMessageTextColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#FFFFFF"
                                    description: Text color for user messages
                                  botMessageBgColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#F3F4F6"
                                    description: Background color for bot messages
                                  botMessageTextColor:
                                    type: string
                                    pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                                    default: "#111827"
                                    description: Text color for bot messages
                                  welcomeMessage:
                                    type: string
                                    default: Hello! How can I help you today?
                                    description: Welcome message shown when the chat is opened
                                  inputPlaceholder:
                                    type: string
                                    default: Type your message...
                                    description: Placeholder text for the input field
                            default: *a17
                            required:
                              - platformConfig
                              - widgetConfig
                      - nullable: true
                    description: Deployment configuration for the deployment
                  notificationConfig:
                    type: object
                    properties:
                      notifications:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              description: Unique identifier for this notification item
                            notificationType:
                              type: string
                              enum:
                                - summary
                            emails:
                              type: array
                              items:
                                type: string
                                format: email
                              minItems: 1
                            scheduleRRule:
                              type: string
                              description: RRULE string for notification schedule
                            timezone:
                              type: string
                              default: UTC
                              description: Timezone for the notification schedule
                          required:
                            - notificationType
                            - emails
                        default: *a18
                      skipEmptyNotifications:
                        type: boolean
                        default: false
                        description: Skip notifications when there are no conversations
                    default: *a19
                    description: Notification configuration for the deployment
                  call_config:
                    type: object
                    additionalProperties:
                      nullable: true
                    description: Configuration for the call, structure varies based on call_type
                    example:
                      max_attempts: 3
                      call_window:
                        start_time: 09:00
                        end_time: 17:00
                  workflow_releases:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                    required:
                      - id
                      - name
                    description: Details of the associated workflow release
                required:
                  - id
                  - timezone
                  - start_at
                  - end_by
                  - stopped_at
                  - call_type
                  - workflow_release_id
                  - call_config
                  - workflow_releases
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /deployments/{deployment_id}/calls:
    get:
      tags:
        - Deployments
      summary: List Deployment Calls
      description: Lists all calls for a specific deployment with optional filters.
      security:
        - ApiKeyAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            description: ID of the deployment
          required: true
          name: deployment_id
          in: path
        - schema:
            type: string
            format: date-time
            description: Filter calls that started after this timestamp
          required: false
          name: started_after
          in: query
        - schema:
            type: string
            format: date-time
            description: Filter calls that ended before this timestamp
          required: false
          name: ended_before
          in: query
        - schema:
            type: string
            format: date-time
            description: Filter calls scheduled after this timestamp
          required: false
          name: scheduled_after
          in: query
        - schema:
            type: string
            format: date-time
            description: Filter calls scheduled before this timestamp
          required: false
          name: scheduled_before
          in: query
        - schema:
            type: string
            enum: &a20
              - user_rejected
              - user_unavailable
              - user_voicemail
              - normal
              - unknown
              - group_success
            description: Filter by call end reason
          required: false
          description: Defines the reason why a call ended.
          name: end_reason
          in: query
        - schema:
            type: string
            enum: &a21
              - success
              - in_progress
              - failed
              - cancelled
              - expired
            description: Filter by scheduling status
          required: false
          description: Defines the scheduling status of a call.
          name: schedule_status
          in: query
        - schema:
            type: string
            default: "1"
            description: Page number
          required: false
          name: page
          in: query
        - schema:
            type: string
            default: "10"
            description: Items per page
          required: false
          name: per_page
          in: query
      responses:
        "200":
          description: List of calls for the deployment
          content:
            application/json:
              schema:
                type: object
                properties:
                  calls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the call
                        scheduled_for:
                          type: string
                          nullable: true
                          format: date-time
                          description: ISO timestamp for when the call was scheduled
                        started_at:
                          type: string
                          nullable: true
                          format: date-time
                          description: ISO timestamp when the call started
                        ended_at:
                          type: string
                          nullable: true
                          format: date-time
                          description: ISO timestamp when the call ended
                        to_phone_number:
                          type: string
                          description: Phone number in E.164 format that received the call
                        end_reason:
                          type: string
                          nullable: true
                          enum: *a20
                          description: Reason why the call ended. Always normal for inbound calls
                        scheduling_status:
                          type: string
                          nullable: true
                          enum: *a21
                          description: Status of the call scheduling. Always null for inbound calls.
                        transcript:
                          $ref: "#/components/schemas/transcript_schema"
                        ai_collectors:
                          type: array
                          nullable: true
                          items:
                            nullable: true
                          description: Data collected during the call
                        ai_analysers:
                          type: array
                          nullable: true
                          items:
                            nullable: true
                          description: AI analysis results
                      required:
                        - id
                        - scheduled_for
                        - started_at
                        - ended_at
                        - to_phone_number
                        - end_reason
                        - scheduling_status
                        - transcript
                        - ai_collectors
                        - ai_analysers
                    description: Array of call records
                  total_count:
                    type: number
                    description: Total number of calls
                  page:
                    type: number
                    description: Current page number
                  per_page:
                    type: number
                    description: Number of items per page
                required:
                  - calls
                  - total_count
                  - page
                  - per_page
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /deployments/{deployment_id}/users:
    post:
      tags:
        - Deployments
      summary: Add Users To Deployment
      description: Adds user details to a deployment. If the deployment is inbound, it
        will only add the data to the workflow. If the deployment is outbound,
        it will also schedule the calls based on the call configuration.
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: object
                    additionalProperties:
                      nullable: true
                  description: Array of user objects with dynamic properties based on the
                    InputSchema defined in the Workflow. Group keys are
                    automatically extracted based on the deployment's
                    scheduling.groupKeyField configuration. Each user can
                    optionally include _expires_at for individual expiration
                    times.
                  additionalProperties:
                    type: object
                    properties:
                      _expires_at:
                        type: string
                        format: date-time
                        description: "Optional: when this user's data expires, we don't attempt any
                          calls to this user after this time"
                  example:
                    - user_first_name: John
                      user_last_name: Doe
                      user_phone_number: "+1234567890"
                      appointment_date_time: 2024-03-20T14:30:00Z
                      appointment_type: physio-check-up
                      _expires_at: 2024-03-21T14:00:00Z
                schedule_time:
                  type: string
                  format: date-time
                  description: ISO timestamp when the calls should be scheduled
                  example: 2024-03-20T14:00:00Z
                wait_for_job:
                  type: boolean
                  default: false
                  description: If true, the request will wait to initiate the call processing
                    before returning (can take upto 30 seconds)
                  example: false
              required:
                - users
      responses:
        "200":
          description: Object with deployment data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation was successful
                  count:
                    type: number
                    description: Number of users added to the deployment
                required:
                  - success
                  - count
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /workflows:
    get:
      tags:
        - Workflows
      summary: List Workflows
      description: Lists all workflows including active and inactive ones.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Object with workflow data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflows:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the workflow release
                        name:
                          type: string
                          description: Name of the workflow release
                        created_at:
                          type: string
                          format: date-time
                          description: When the release was created
                        type:
                          type: string
                          enum:
                            - released
                            - development
                          description: Type of the workflow - either released or development
                      required:
                        - id
                        - name
                        - created_at
                        - type
                    description: Array of workflow releases
                required:
                  - workflows
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
  /workflows/{workflow_id}:
    get:
      tags:
        - Workflows
      summary: Get Workflow Details
      description: Get workflow details by its ID.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Object with workflow data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflow:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Unique identifier for the workflow
                      name:
                        type: string
                        description: Name of the workflow
                      created_at:
                        type: string
                        format: date-time
                        description: When the workflow was created
                      status:
                        type: string
                        enum:
                          - released
                          - development
                        description: Status of the workflow
                      language:
                        type: string
                        description: Language of the workflow
                      input_schema:
                        type: object
                        properties:
                          properties:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - boolean
                                  description: |
                                    Data type of the field. Possible values:
                                    - string: Text input
                                    - number: Numeric input
                                    - boolean: True/false input
                                format:
                                  type: string
                                  enum:
                                    - tel
                                    - date-time
                                    - date
                                    - time
                                    - email
                                  description: >-
                                    Special format of the field. Possible
                                    values:

                                    - tel: Phone number in E.164 format e.g
                                    +31123123123 

                                    - date-time: Date and time in ISO 8601
                                    format

                                    - date: Date in ISO 8601 format

                                    - time: Time in 24-hour format e.g 23:59 

                                    - email: Email address e.g john@doe.com
                                title:
                                  type: string
                                  description: Display title for the field
                                description:
                                  type: string
                                  description: Detailed description of the field
                              required:
                                - type
                                - title
                                - description
                              description: Definition of a form field
                            description: Field definitions
                        required:
                          - properties
                        description: Schema defining required inputs for the workflow
                        example:
                          properties:
                            user_first_name:
                              type: string
                              title: First Name
                              description: The patient's first name.
                      phone_number_key:
                        type: string
                        description: Key for the phone number input field
                    required:
                      - id
                      - name
                      - created_at
                      - status
                      - language
                      - input_schema
                      - phone_number_key
                    description: Detailed workflow information
                required:
                  - workflow
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Validation error message
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authentication error message
        "403":
          description: Forbidden - Team is inactive or lacks permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Authorization error message
        "404":
          description: Not Found - Requested resource does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Resource not found message
        "422":
          description: Unprocessable Entity - Input validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                      required:
                        - field
                        - message
                        - code
                required:
                  - error
                  - details
                description: Validation error details
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: Internal server error message
